/*-----------------------------------------------------------------------------------------------------------------------------
 		Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-----------------------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; color:#353535; font-family:Arial, Helvetica, Tahoma, Geneva, sans-serif; }
body { line-height: 1; background-color:#F0F0F0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; clear: both; }
ol, ul { list-style: none; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
table, tr, td {vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px;} 
a img { border: none; cursor:pointer; }
a {text-decoration:none;}
img {cursor:auto;}
p {font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; color:#999;}


/* Global
-------------------------------------------------*/
.container {width:540px; margin:30px auto; padding:30px; background-color:#FFF; border:#CCC solid 1px;}
h1 { font-weight:bold; font-size:72px; line-height:72px;}
h2 { font-weight:bold; font-size:18px; line-height:18px; position:relative; margin-top:-18px;}


/* Header
-------------------------------------------------*/
.header {padding-bottom:60px; overflow:hidden;}
.header img {padding-right:10px;}

.header h3 {font-weight:400; font-size:24px; line-height:24px;}
.header h3 strong {font-weight:700;}
.header p {font-size:10px; line-height:12px;}
.header p a {color:#999;}
.header p a:hover {text-decoration:underline;}


/* Info
-------------------------------------------------*/
.info {padding-bottom:60px; overflow:hidden;}
.info h4{font-weight:bold; font-size:12px; line-height:12px; margin-bottom:4px;}
.info h4 span {color:#00b7f2;}



/* Invoice Description
-------------------------------------------------*/
.invoice-description { margin-bottom:40px;}
.invoice-description p {margin-bottom:4px; font-size:12px; line-height:18px; color:#000;}

/* Project Breakdown
-------------------------------------------------*/
.breakdown {padding-bottom:44px;}
.breakdown table {width:100%;}
.breakdown table tr {}
.breakdown table tr td { padding:5px 5px; color:#999; font-size:12px; line-height:12px;}
.breakdown table tr.heading td {color:#00b7f2; text-transform:uppercase; font-size:14px; line-height:14px; padding:7px 5px; font-weight:bold;}
.breakdown table tr.title td {background-color:#f5f5f5!important; color:#616161; font-weight:bold; }
.breakdown table tr.description td {font-size:10px; line-height:12px;}


/* Payment Details
-------------------------------------------------*/
.payment-details {width:250px; padding:20px 0px 20px 15px; background-color:#f6f6f6;}
.payment-details table tr td.label {color:#999; }
.payment-details table tr td {font-size:11px; line-height:11px; color:#333; padding:3px 5px;}


/* Credits
-------------------------------------------------*/
p.credits {margin-top:60px; font-size:10px; line-height:14px; color:#999;}