/*


Invoice Edit Page
--------------------------------------------------------------------------------------------*/
.wp3i-edit #icon-edit.icon32 {background:url(images/wp3i-logo.png); width:65px; height:125px; padding:0px; margin:0px; float:none; position:absolute;}
.wp3i-edit h2{overflow:hidden; color:#F9F9F9; padding:0px; text-shadow:none;}
.wp3i-edit #titlediv {padding-left:80px; position:relative; margin-bottom:50px;}
.wp3i-edit #message, .wp3i-edit .updated, .wp3i-edit .error {margin:5px 0 15px 80px !important;}
.wp3i-edit .metabox-holder { padding-top:3px !important; }


#icon-edit.icon32.wp3i-icon {background:url(images/wp3i-logo.png) 0 100% no-repeat; width:65px; height:125px; padding:0px; margin:0px 10px 20px 0px;}
#icon-edit.icon32.wp3i-icon + h2 {margin:0; padding:32px 0 0;}


#invoice_details {}
#invoice_details ul {overflow:hidden; width:400px; border:#EEEEEE solid 1px; border-bottom:none;}
#invoice_details ul li {font-size:12px; line-height:24px; padding:5px; margin:0px; border-bottom:#EEEEEE solid 1px; height:26px;}
#invoice_details ul li:hover {background:#EAF2FA;}
#invoice_details ul li label {}
#invoice_details ul li span {font-weight:bold;}
#invoice_details ul li a{}
#invoice_details ul li .front{display:inline;}
#invoice_details ul li .back{display:none;}
#invoice_details .send-invoice {position:absolute; top:0px; right:0px;}

#invoice_send ul {overflow:hidden; width:400px; border:#EEEEEE solid 1px; border-bottom:none;}
#invoice_send ul li {font-size:10px; line-height:24px; padding:5px; margin:0px; border-bottom:#EEEEEE solid 1px; height:26px; }
#invoice_send ul li:hover {background:#EAF2FA;}

#project_breakdown { background-color:transparent; border:none;} 
#project_breakdown .inside{overflow:hidden; margin:0px; border-top:#d3d3d3 solid 1px;} 
#project_breakdown .details {overflow:hidden;}
#project_breakdown .detail.detail-header {background:#e8e8e8; font-size:14px; font-weight:bold; border-top:#f7f7f7 solid 1px; text-shadow:#f7f7f7 0px 1px 0px;}
#project_breakdown .detail {background:#FFF; border:#DFDFDF solid 1px; border-top:none; padding:10px 10px 0px; overflow:hidden; position:relative;}
#project_breakdown .details .detail:hover {background:#EAF2FA;}
#project_breakdown .detail .grab {background:url(images/grab-corner.png); width:13px; height:13px; cursor:move; position:absolute; bottom:4px; right:4px;}
#project_breakdown .detail ul {margin:0px; padding:0px; list-style:none; display:block; overflow:hidden; width:100%; position:relative;}
#project_breakdown .detail ul li {float:left; padding:0px 10px 10px 0px; margin:0px;}
#project_breakdown .detail input, #project_breakdown .detail textarea {height:35px; width:100%; color:#333; border:#DFDFDF solid 1px; }
#project_breakdown .detail input.active, #project_breakdown .detail textarea.active {color:#000; }
#project_breakdown .detail ul li.title {width:40%; }
#project_breakdown .detail ul li.title input {font-weight:bold;}
#project_breakdown .detail ul li.description {width:55%; color:#333 !important;}
#project_breakdown .detail ul li.description textarea {font-size:10px; line-height:12px;}
#project_breakdown .detail ul li.type{width:65px;}
#project_breakdown .detail ul li.type select{margin-top:7px;}
#project_breakdown .detail ul li.rate {width:52px;}
#project_breakdown .detail ul li.rate input {width:50px;}
#project_breakdown .detail ul li.rate p {float:left;}
#project_breakdown .detail ul li.duration {width:50px;}
#project_breakdown .detail ul li.subtotal p {margin:0px; padding-top:7px; color:#999; font-size:18px; line-height:18px;}
#project_breakdown .detail a.delete {display:block; width:16px; height:16px; background:url(images/cancel.png); position:absolute; top:4px; right:4px;}

#project_breakdown .detail.detail-footer {-moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px;-khtml-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; background:#EAF2FA;}
#project_breakdown .detail.detail-footer p {margin:0px; padding:0px 0px 10px; text-align:right;}
#project_breakdown .detail.detail-footer a.button-primary {}

#invoice_send p {padding:10px 0px;}



/*--------------------------------------------------------------------------------------------
								Invoice Stats Page v2
--------------------------------------------------------------------------------------------*/
#wp3i-stats {max-width:1100px;}
#wp3i-stats .inside {overflow:hidden;}

.wp3i-heading {overflow:hidden; margin-bottom:20px;}
.wp3i-heading .icon32 {background:url(images/wp3i-logo.png) 0 0 no-repeat; width:65px; height:125px; padding:0px; margin:0px 10px 0px 0px;}
.wp3i-heading h2 {margin:18px 0px 0px;}
.wp3i-heading ul {margin:2px 0px 0px;}
.wp3i-heading p {color:#666; font-size:11px; margin:6px 0px 0px;}

#wp3i-stats #wp3i-stats-graph .inside {padding:20px 0px; margin:0px; position:relative;}
#wp3i-stats #wp3i-stats-graph .inside .wp3i-stats-graph {width:900px; height:300px; }

#wp3i-stats #wp3i-stats-graph .summary {width:170px; position:absolute; top:0px; right:0px; margin:-1px -1px 0px 0px;}
#wp3i-stats #wp3i-stats-graph .summary ul {overflow:hidden; border:#EEEEEE solid 1px; border-bottom:none;}
#wp3i-stats #wp3i-stats-graph .summary ul li {font-size:10px; line-height:24px; padding:15px 12px; margin:0px; border-bottom:#EEEEEE solid 1px;  }

#wp3i-stats #wp3i-stats-graph .summary h3 {background:none; font-weight:normal; font-size:12px; line-height:12px; padding:0px; margin:0px; cursor:auto;}
#wp3i-stats #wp3i-stats-graph .summary h3 span {background:#7fd700; border:#5ecb00 solid 2px; display:block; width:14px; height:11px; -moz-border-radius: 3px; -webkit-border-radius: 3px;-khtml-border-radius: 3px; border-radius: 3px; float:left; margin-right:10px; }
#wp3i-stats #wp3i-stats-graph .summary .awaiting-payment h3 span {background-color:#c1e6a0; border:#b4e587 solid 2px;}
#wp3i-stats #wp3i-stats-graph .summary .quotes h3 span {background-color:#e7e7e7; border:#dfdfdf solid 2px;}
#wp3i-stats #wp3i-stats-graph .summary h2 {padding:0px; margin:0px; text-align:center; font-size:22px; line-height:22px; margin:4px 0px; font-style:normal;}
#wp3i-stats #wp3i-stats-graph .summary h4 {padding:0px; margin:0px; text-align:center; font-size:10px; line-height:10px; color:#999; font-weight:normal; margin:5px 0px;}

#wp3i-stats .wp3i-stats-invoices {width:100%; margin-top:30px;}

#wp3i-stats table {width:100%; }
#wp3i-stats td, #wp3i-stats th {font-size:11px;}
#wp3i-stats tr {height:22px;}
#wp3i-stats th {border-bottom:2px solid #CCCCCC; text-align:left;}
#wp3i-stats tr.alternate {background-color:#E6F0FF;}

#wp3i-stats td.invoice-number {width: 80px; text-align:center; padding:0px;}
#wp3i-stats td.invoice-date {width: 100px;}
#wp3i-stats td.total {width: 70px; text-align:right;}
#wp3i-stats td {padding:0px 8px;}
#wp3i-stats td .tick {width:16px; height:16px; background:url(images/accepted_16.png);}
#wp3i-stats td .cross {width:16px; height:16px; background:url(images/warning_16.png);}

#wp3i-stats a.highcharts-credits{display:none;}


/*--------------------------------------------------------------------------------------------
								Invoice Options Page
--------------------------------------------------------------------------------------------*/
#wp3i-options p.submit {padding:0px; margin:20px 6px 14px;}

#poststuff {overflow:hidden;}

.form-table th span {font-size:10px; font-weight:normal; color:#666; clear:both; display:block; }

/*--------------------------------------------------------------------------------------------
								Invoice Columns
--------------------------------------------------------------------------------------------*/
.widefat th#invoice_no {width:100px;}
.widefat th#invoice_type {width:100px;}

/*--------------------------------------------------------------------------------------------
								Invoice Help Page
--------------------------------------------------------------------------------------------*/
.wrap.wp3i{}

.wrap.wp3i p{color:#333; font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif; font-size:12px; line-height:22px;}
.wrap.wp3i ul{list-style:square outside none; margin-left:22px;}
.wrap.wp3i ul li{color:#333; font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif; font-size:12px; line-height:22px;}

.wrap.wp3i .left-column { width:736px; float:left; margin-right:20px;}
.wrap.wp3i .left-column iframe{ height:430px; width:720px; overflow:hidden; }

.wrap.wp3i td {padding-top:10px; font-size:11px; line-height:16px;}
.wrap.wp3i label {font-size:14px; line-height:14px; font-weight:bold; padding:6px;}
.wrap.wp3i h4 {font-size:14px; line-height:14px; font-weight:bold; padding:6px; padding-right:10px; margin:0px;}
.wrap.wp3i h6 {font-size:9px; font-weight:normal; margin:0px 0px 0px 6px; position:relative; margin-top:-4px; color:#1D5F95;}
.wrap.wp3i .api td {padding:6px;}
.wrap.wp3i .api tr.odd td {background-color:#f5f9fa;}
.wrap.wp3i .api p {font-size:11px; line-height:16px; color:#333;}

.wrap.wp3i.help .right-column { width:385px; float:left;}

.wrap.wp3i.help .buttons{ margin-bottom:20px;}
.wrap.wp3i.help .buttons table td{padding-top:0px; padding-right:10px; vertical-align:top;}
.wp3i-button {display:block; width:187px; height:51px; cursor:pointer; border:none 0; padding:0px; margin:0px; background-image:url('images/wp3i-buttons.png'); overflow:hidden; white-space:nowrap; text-indent:400px;}
.wp3i-button.rate { background-position:187px 0px;}
.wp3i-button.rate:hover {background-position:187px -51px;}
.wp3i-button.donate {background-position:0px 0px;}
.wp3i-button.donate:hover {background-position:0px -51px;}

.postbox.twitter {}
.postbox.twitter .inside {margin:0px !important;}
.postbox.twitter #twtr-widget-1 .twtr-hd h3 {background:none transparent !important;}
.postbox.twitter .twtr-hd{background:url('../../../../wp-admin/images/gray-grad.png') repeat-x scroll left top #DFDFDF; text-shadow:0 1px 0 #FFFFFF; color:#333;}
.postbox.twitter .twtr-bd {padding:0px;}